<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<% if current_user && current_user.admin or !current_user.nil? && current_user.id == @post.user_id %>
  <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary' %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
<% end %>
<hr>

<%= render 'comments/comments' %>
<% if current_user %>
  <%= render 'comments/form' %>
<% end %>
